
[*]
charset = utf-8-bom
end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.constants_rule_rule.import_to_resharper = True
dotnet_naming_rule.constants_rule_rule.resharper_description = constants_rule
dotnet_naming_rule.constants_rule_rule.resharper_guid = 3fac3171-6fea-4b2f-af2a-c02a26c201e0
dotnet_naming_rule.constants_rule_rule.severity = warning
dotnet_naming_rule.constants_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule_rule.symbols = constants_rule_symbols
dotnet_naming_rule.event_rule_rule.import_to_resharper = True
dotnet_naming_rule.event_rule_rule.resharper_description = event_rule
dotnet_naming_rule.event_rule_rule.resharper_guid = e051d63a-a6b4-480a-a79d-ef52e0722511
dotnet_naming_rule.event_rule_rule.severity = warning
dotnet_naming_rule.event_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.event_rule_rule.symbols = event_rule_symbols
dotnet_naming_rule.interfaces_rule_rule.import_to_resharper = True
dotnet_naming_rule.interfaces_rule_rule.resharper_description = interfaces_rule
dotnet_naming_rule.interfaces_rule_rule.resharper_guid = 82cc938a-1a2a-480e-85bc-c29cca681747
dotnet_naming_rule.interfaces_rule_rule.severity = warning
dotnet_naming_rule.interfaces_rule_rule.style = i_upper_camel_case_style
dotnet_naming_rule.interfaces_rule_rule.symbols = interfaces_rule_symbols
dotnet_naming_rule.locals_rule_rule.import_to_resharper = True
dotnet_naming_rule.locals_rule_rule.resharper_description = locals_rule
dotnet_naming_rule.locals_rule_rule.resharper_guid = c710f515-8ecc-4872-9e56-7dfd8b414cf4
dotnet_naming_rule.locals_rule_rule.severity = warning
dotnet_naming_rule.locals_rule_rule.style = lower_camel_case_style
dotnet_naming_rule.locals_rule_rule.symbols = locals_rule_symbols
dotnet_naming_rule.local_constants_rule_rule.import_to_resharper = True
dotnet_naming_rule.local_constants_rule_rule.resharper_description = local_constants_rule
dotnet_naming_rule.local_constants_rule_rule.resharper_guid = c314c970-bf0c-4543-ac65-ffa018993f4d
dotnet_naming_rule.local_constants_rule_rule.severity = warning
dotnet_naming_rule.local_constants_rule_rule.style = lower_camel_case_style
dotnet_naming_rule.local_constants_rule_rule.symbols = local_constants_rule_symbols
dotnet_naming_rule.local_functions_rule_rule.import_to_resharper = True
dotnet_naming_rule.local_functions_rule_rule.resharper_description = local_functions_rule
dotnet_naming_rule.local_functions_rule_rule.resharper_guid = b278a1f8-e8b8-4ff4-b747-5b8941565225
dotnet_naming_rule.local_functions_rule_rule.severity = warning
dotnet_naming_rule.local_functions_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.local_functions_rule_rule.symbols = local_functions_rule_symbols
dotnet_naming_rule.method_rule_rule.import_to_resharper = True
dotnet_naming_rule.method_rule_rule.resharper_description = method_rule
dotnet_naming_rule.method_rule_rule.resharper_guid = 63128942-21f7-4173-8e96-19af68762197
dotnet_naming_rule.method_rule_rule.severity = warning
dotnet_naming_rule.method_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.method_rule_rule.symbols = method_rule_symbols
dotnet_naming_rule.parameters_rule_rule.import_to_resharper = True
dotnet_naming_rule.parameters_rule_rule.resharper_description = parameters_rule
dotnet_naming_rule.parameters_rule_rule.resharper_guid = 7f5e776d-1d3b-4023-8c0f-0deb96c5acd0
dotnet_naming_rule.parameters_rule_rule.severity = warning
dotnet_naming_rule.parameters_rule_rule.style = lower_camel_case_style
dotnet_naming_rule.parameters_rule_rule.symbols = parameters_rule_symbols
dotnet_naming_rule.private_constants_rule_rule.import_to_resharper = True
dotnet_naming_rule.private_constants_rule_rule.resharper_description = private_constants_rule
dotnet_naming_rule.private_constants_rule_rule.resharper_guid = 5331752c-4f60-4510-a2de-6775ec377877
dotnet_naming_rule.private_constants_rule_rule.severity = warning
dotnet_naming_rule.private_constants_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule_rule.symbols = private_constants_rule_symbols
dotnet_naming_rule.private_instance_fields_rule_rule.import_to_resharper = True
dotnet_naming_rule.private_instance_fields_rule_rule.resharper_description = private_instance_fields_rule
dotnet_naming_rule.private_instance_fields_rule_rule.resharper_guid = c7dddbea-68f3-4bf6-9b4c-6af121564e92
dotnet_naming_rule.private_instance_fields_rule_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_instance_fields_rule_rule.symbols = private_instance_fields_rule_symbols
dotnet_naming_rule.private_static_fields_rule_rule.import_to_resharper = True
dotnet_naming_rule.private_static_fields_rule_rule.resharper_description = private_static_fields_rule
dotnet_naming_rule.private_static_fields_rule_rule.resharper_guid = 99bcb799-0028-4f73-94ff-f1dfcdb2cc1a
dotnet_naming_rule.private_static_fields_rule_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_static_fields_rule_rule.symbols = private_static_fields_rule_symbols
dotnet_naming_rule.private_static_readonly_rule_rule.import_to_resharper = True
dotnet_naming_rule.private_static_readonly_rule_rule.resharper_description = private_static_readonly_rule
dotnet_naming_rule.private_static_readonly_rule_rule.resharper_guid = b9a8c746-c062-4b17-a62a-35dcc5da77af
dotnet_naming_rule.private_static_readonly_rule_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule_rule.symbols = private_static_readonly_rule_symbols
dotnet_naming_rule.property_rule_rule.import_to_resharper = True
dotnet_naming_rule.property_rule_rule.resharper_description = property_rule
dotnet_naming_rule.property_rule_rule.resharper_guid = 49a4b97d-f1ca-4153-8fe6-4968e58a7b9c
dotnet_naming_rule.property_rule_rule.severity = warning
dotnet_naming_rule.property_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.property_rule_rule.symbols = property_rule_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.public_fields_rule.severity = warning
dotnet_naming_rule.public_fields_rule.style = lower_camel_case_style_1
dotnet_naming_rule.public_fields_rule.symbols = public_fields_symbols
dotnet_naming_rule.public_fields_rule_rule.import_to_resharper = True
dotnet_naming_rule.public_fields_rule_rule.resharper_description = public_fields_rule
dotnet_naming_rule.public_fields_rule_rule.resharper_guid = 4bccbb28-0eca-4621-a6c3-ad0a2a14fed9
dotnet_naming_rule.public_fields_rule_rule.severity = warning
dotnet_naming_rule.public_fields_rule_rule.style = lower_camel_case_style_1
dotnet_naming_rule.public_fields_rule_rule.symbols = public_fields_rule_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.static_readonly_rule_rule.import_to_resharper = True
dotnet_naming_rule.static_readonly_rule_rule.resharper_description = static_readonly_rule
dotnet_naming_rule.static_readonly_rule_rule.resharper_guid = 1332a1b4-1d8e-46ea-86cc-defbb7db54b2
dotnet_naming_rule.static_readonly_rule_rule.severity = warning
dotnet_naming_rule.static_readonly_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule_rule.symbols = static_readonly_rule_symbols
dotnet_naming_rule.types_and_namespaces_rule_rule.import_to_resharper = True
dotnet_naming_rule.types_and_namespaces_rule_rule.resharper_description = types_and_namespaces_rule
dotnet_naming_rule.types_and_namespaces_rule_rule.resharper_guid = 1db7e56c-a7ed-4565-8aac-51b534784881
dotnet_naming_rule.types_and_namespaces_rule_rule.severity = warning
dotnet_naming_rule.types_and_namespaces_rule_rule.style = upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule_rule.symbols = types_and_namespaces_rule_symbols
dotnet_naming_rule.type_parameters_rule_rule.import_to_resharper = True
dotnet_naming_rule.type_parameters_rule_rule.resharper_description = type_parameters_rule
dotnet_naming_rule.type_parameters_rule_rule.resharper_guid = dc017cd9-acd0-4ada-a367-a9cd748b8e43
dotnet_naming_rule.type_parameters_rule_rule.severity = warning
dotnet_naming_rule.type_parameters_rule_rule.style = t_upper_camel_case_style
dotnet_naming_rule.type_parameters_rule_rule.symbols = type_parameters_rule_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.required_prefix = _
dotnet_naming_style.t_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix = T
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_rule_symbols.applicable_accessibilities = local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_rule_symbols.required_modifiers = static,const
dotnet_naming_symbols.constants_rule_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.constants_rule_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.event_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.event_rule_symbols.applicable_kinds = event
dotnet_naming_symbols.event_rule_symbols.resharper_applicable_kinds = event
dotnet_naming_symbols.event_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.interfaces_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.interfaces_rule_symbols.applicable_kinds = interface
dotnet_naming_symbols.interfaces_rule_symbols.resharper_applicable_kinds = interface
dotnet_naming_symbols.interfaces_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.locals_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.locals_rule_symbols.applicable_kinds = local
dotnet_naming_symbols.locals_rule_symbols.resharper_applicable_kinds = local_variable,local_constant
dotnet_naming_symbols.locals_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.local_constants_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.local_constants_rule_symbols.applicable_kinds = local
dotnet_naming_symbols.local_constants_rule_symbols.required_modifiers = static,const
dotnet_naming_symbols.local_constants_rule_symbols.resharper_applicable_kinds = local_constant
dotnet_naming_symbols.local_constants_rule_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.local_functions_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.local_functions_rule_symbols.applicable_kinds = local_function
dotnet_naming_symbols.local_functions_rule_symbols.resharper_applicable_kinds = local_function
dotnet_naming_symbols.local_functions_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.method_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.method_rule_symbols.applicable_kinds = method
dotnet_naming_symbols.method_rule_symbols.resharper_applicable_kinds = method
dotnet_naming_symbols.method_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.parameters_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.parameters_rule_symbols.applicable_kinds = parameter
dotnet_naming_symbols.parameters_rule_symbols.resharper_applicable_kinds = parameter
dotnet_naming_symbols.parameters_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_constants_rule_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_constants_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_rule_symbols.required_modifiers = static,const
dotnet_naming_symbols.private_constants_rule_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.private_constants_rule_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_instance_fields_rule_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_instance_fields_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_rule_symbols.resharper_applicable_kinds = field,readonly_field,constant_field
dotnet_naming_symbols.private_instance_fields_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_static_fields_rule_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_static_fields_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_rule_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_fields_rule_symbols.resharper_applicable_kinds = field,readonly_field,constant_field
dotnet_naming_symbols.private_static_fields_rule_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_static_readonly_rule_symbols.applicable_accessibilities = local,private
dotnet_naming_symbols.private_static_readonly_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_rule_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.private_static_readonly_rule_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.private_static_readonly_rule_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.property_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.property_rule_symbols.applicable_kinds = property
dotnet_naming_symbols.property_rule_symbols.resharper_applicable_kinds = property
dotnet_naming_symbols.property_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.public_fields_rule_symbols.applicable_accessibilities = local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.public_fields_rule_symbols.resharper_applicable_kinds = field,readonly_field,constant_field
dotnet_naming_symbols.public_fields_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_rule_symbols.applicable_accessibilities = local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_rule_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_rule_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.static_readonly_rule_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.static_readonly_rule_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.types_and_namespaces_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.types_and_namespaces_rule_symbols.applicable_kinds = namespace,class,struct,enum,delegate
dotnet_naming_symbols.types_and_namespaces_rule_symbols.resharper_applicable_kinds = namespace,class,struct,enum,delegate
dotnet_naming_symbols.types_and_namespaces_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.type_parameters_rule_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.type_parameters_rule_symbols.applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameters_rule_symbols.resharper_applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameters_rule_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_first_arg_by_paren = true
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_array_and_object_initializer = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_expression = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_for_stmt = true
resharper_align_multiline_parameter = true
resharper_align_multiline_switch_expression = true
resharper_align_multiple_declaration = true
resharper_align_multline_type_parameter_constrains = true
resharper_align_multline_type_parameter_list = true
resharper_align_tuple_components = true
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_before_multiline_statements = 1
resharper_blank_lines_before_single_line_comment = 1
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_indent_invocation_pars = outside
resharper_csharp_indent_method_decl_pars = outside
resharper_csharp_indent_statement_pars = outside
resharper_csharp_insert_final_newline = true
resharper_csharp_int_align_comments = true
resharper_csharp_int_align_fix_in_adjacent = false
resharper_csharp_keep_blank_lines_in_code = 0
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_stick_comment = false
resharper_enforce_line_ending_style = true
resharper_force_chop_compound_do_expression = true
resharper_force_chop_compound_if_expression = true
resharper_force_chop_compound_while_expression = true
resharper_indent_anonymous_method_block = true
resharper_indent_nested_fixed_stmt = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_usings_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_pars = outside
resharper_indent_preprocessor_directives = normal
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_indent_typearg_angles = outside
resharper_indent_typeparam_angles = outside
resharper_int_align_property_patterns = true
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_outdent_binary_ops = true
resharper_outdent_commas = true
resharper_outdent_dots = true
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_field_attribute_on_same_line = if_owner_is_single_line
resharper_place_method_attribute_on_same_line = true
resharper_place_type_attribute_on_same_line = true
resharper_space_after_unary_operator = false
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_cpp_clang_tidy_clang_diagnostic_ctad_maybe_unsupported_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_defaulted_function_deleted_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_old_style_cast_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_shadow_field_in_constructor_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_shadow_field_in_constructor_modified_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_shadow_uncaptured_local_highlighting = warning
resharper_cpp_clang_tidy_clang_diagnostic_zero_as_null_pointer_constant_highlighting = warning
resharper_cpp_clang_tidy_cppcoreguidelines_slicing_highlighting = warning
resharper_cpp_clang_tidy_modernize_concat_nested_namespaces_highlighting = suggestion
resharper_cpp_clang_tidy_readability_deleted_default_highlighting = warning
resharper_cpp_clang_tidy_readability_misleading_indentation_highlighting = suggestion
resharper_cpp_clang_tidy_readability_qualified_auto_highlighting = suggestion
resharper_cpp_use_algorithm_with_count_highlighting = hint
resharper_cpp_wrong_includes_order_highlighting = none
resharper_merge_sequential_checks_highlighting = suggestion
resharper_redundant_base_qualifier_highlighting = warning
resharper_remove_redundant_braces_highlighting = hint
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_use_null_propagation_highlighting = suggestion
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_xaml_possible_null_reference_exception_highlighting = warning

[{*.har,*.inputactions,*.json}]
indent_style = space
indent_size = 2

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

[*.asmdef]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,paml,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
